.flag{
    width: 18px;
    height: 12px;
         margin-right: 8px;
  vertical-align: middle;

}
body{
            background-color:green;
            backface-visibility: visible;
        }
#n1{ 
    background-color: aqua;
    

}